<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953486504584-tedliookgekj02e44qc72ugndd0vvm75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953486504584-tedliookgekj02e44qc72ugndd0vvm75</string>
	<key>API_KEY</key>
	<string>AIzaSyChs7XfGPpG3Xc2nTvis0uxbia1uGhtWow</string>
	<key>GCM_SENDER_ID</key>
	<string>953486504584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.riveAnimation</string>
	<key>PROJECT_ID</key>
	<string>riveanimation-88dd8</string>
	<key>STORAGE_BUCKET</key>
	<string>riveanimation-88dd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953486504584:ios:b9e45be25f903f5949253d</string>
</dict>
</plist>